body {
  text-align: center;
    margin: 30px;
    background-color: rgb(43, 226, 43);
  
  }
  h1 {
    background-color: rgb(217, 255, 0);
    color: rgb(209, 26, 26);
    font-size: 50px;
    margin: 0px 20px 10px 0px;
    padding: 0px 0px 20px 10px;
  }
  
  .primera {
    color: rgb(229, 255, 0);
  }
  
  .segunda {
    color: rgb(255, 255, 255);
  }
  .tercera {
    color: rgb(238, 255, 0);
  }
  
  .primerDiv{
    display: inline-block; 
    width: 500; 
    background-color: rgb(234, 220, 245);
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
  }
  
  .segundoDiv{
    display: inline-block; 
    width: 71%;
    background-color: crimson;
    margin: 0 auto;
  }
  
  .footer{
    margin-top: 50px; 
    background-color: rgb(222, 135, 200); 
    position: sticky;
    text-align: center;
  }
  